<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Add new customer</title>
</head>
<body>
<h2>Add new customer</h2>
<p>
    <a th:href="@{/}">
        Back to home!
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/customer/save}" th:object="${customer}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}">
        </div>
        <input type="submit" value="Save">
    </form>
</div>
</body>
<footer th:replace="/layout :: footer">
</footer>
</html>